.canvasContainer {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: none;
  overflow: hidden;
}

@media (max-width: 479px) {
  .canvasContainer {
    display: none;
  }
}

