.canvasContainer {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

@media (max-width: 479px) {
  .canvasContainer {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 1199px) {
  .canvasContainer {
    opacity: 0.3;
  }
}
